@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #faedf3ff;
    
}


.navbar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: rgb(224, 238, 245);;
    justify-content: center;
    align-items: center;

}

.logo {
    flex: 1%;
    margin-left: 10%;
    text-align:center;
    
    
    
}

.menu {

    flex: 70%;
    text-align: right;
    padding: 20px;

}


.menu a {
    color: #ff8dbeff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;

}

.menu a:hover {
    color: #73bfe6ff;
    border-top: 4px solid #73bfe6ff;
}

#botao {
    background: #ff8dbeff;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover {
    border: none;
    background: #73bfe6ff;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}

.img-headline{
    margin-left: 10%;
    flex:40%;
    text-align: left;
    
}

.headline{
    margin-right: 10%;
     flex: 40%;
     text-align: left;
}



.headline h2{
    font-weight: 400;
    font-size: 30px;
    color: #73bfe6ff;
    padding: 0 ;
    margin: 0;
}

.headline p{
    color: black;
    text-align:left;
}

.contato-orcamento{
    display:inline-block;
    background: #ff8dbeff;
    padding: 15px;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    text-decoration: none;
    
}
.contato-orcamento:hover{
    background:#73bfe6ff ;
}
